<html ng-app="Chat3">
    <head>
        <title>Another Chat Application</title>
        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/bootstrap-responsive.css" rel="stylesheet">
        <script src="js/angular.js"></script>
        <script src="js/controller.js"></script>
        <script src="js/jquery-latest.js"></script>
        <link rel="stylesheet" href="css/font-awesome.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <!-- Container -->
        <div class="container-fluid" ng-controller="ChatCtrl">
            <!-- Row -->
            <div class="row-fluid">
                <!-- Header -->
                <h2 class="page-header pagination-centered">
                    Chat3
                </h2>
                <!-- Header -->
            </div>
            <!-- Row -->

            <!-- Row -->
            <div class="row-fluid">
                <!-- Left Sidebar -->
                <div class="span3 well pagination-centered fit-in-place">
                    <p class="margin-bottom">{{user.name}}</p>
                    <!-- Row -->
                    <div class="row-fluid">
                        <div class="span12">
                            <!-- Create Chat Room -->
                            <legend>
                                Create Room
                                <button class="btn btn-mini btn-inverse"
                                    ng-click="toggleForm('Create')">
                                    <i class="icon-plus-sign icon-large pointer transition"
                                        ng-class="{true:'active'}[showCreateForm]"></i>
                                </button>
                            </legend>
                            <form class="form-inline" ng-submit="createRoom()"
                                ng-show="showCreateForm">
                                <input type="text" class="input-small"
                                    placeholder="Room Name" ng-model="roomName">
                                <button class="btn" type="submit">
                                    Create
                                </button>
                            </form>
                            <!-- Create Chat Room -->
                        </div>
                    </div>
                    <!-- Row -->

                    <!-- Row -->
                    <div class="row-fluid">
                        <div class="span12">
                            <!-- Join Chat Room -->
                            <legend>
                                Join Room
                                <button class="btn btn-mini btn-inverse"
                                    ng-click="toggleForm('Join')">
                                    <i class="icon-plus-sign icon-large pointer transition"
                                       ng-class="{true:'active'}[showJoinForm]"></i>
                               </button>
                            </legend>
                            <form class="form-inline" ng-submit="joinRoom()"
                                ng-show="showJoinForm">
                                <select class="input-small" ng-model="selectedRoom"
                                    ng-options="room.name for room in user.otherRooms" >
                                </select>
                                <button class="btn" type="submit">
                                    Join
                                </button>
                            </form>
                            <!-- Join Chat Room -->
                        </div>
                    </div>
                    <!-- Row -->

                    <!-- Row -->
                    <div class="row-fluid" ng-show="user.joinedRooms.length">
                        <div class="span12">
                            <h3>My Rooms</h3>
                            <div class="alert alert-info pagination-centered"
                            ng-repeat = "room in user.joinedRooms">
                                <button type="button" class="close"
                                    ng-click="leaveRoom(room)">
                                    &times;
                                </button>
                                <strong ng-click="user.activateRoom(room)" class="pointer">
                                    {{room.name}}
                                </strong>
                            </div>
                        </div>
                    </div>
                    <!-- Row -->
                </div>
                <!-- Left Sidebar -->

                <!-- Chat Window -->
                <div class="span7 well" ng-show="user.currentRoom">
                    <!-- Header -->
                    <div class="row-fluid">
                        <div class="span12">
                            <h3 class="page-header">
                                {{user.currentRoom.name}}
                                <small>
                                    <button type="button" class="close"
                                        ng-click="leaveRoom(user.currentRoom)">
                                        <i class="icon-signout"></i>
                                    </button>
                                </small>
                            </h3>
                        </div>
                    </div>
                    <!-- Header -->

                    <!-- Chat Box -->
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="margin-bottom" id="chat-box">
                                <div ng-repeat="message in user.currentRoom.messages">
                                    {{message}}
                                </div>
                            </div>
                            <textarea ng-model="currentMessage" id="chat-text"
                                class="span12" enter-submit="postMessage()">
                            </textarea>
                            {{currentMessage}}
                        </div>
                    </div>
                    <!-- Chat Box -->
                </div>
                <!-- Chat Window -->

                <!-- Right Sidebar -->
                <div class="span2 well sidebar" ng-show="user.currentRoom">
                    <legend>Members</legend>
                    <ul class="unstyled" ng-repeat="user in user.currentRoom.users">
                        <li>{{user.name}}</li>
                    </ul>
                </div>
                <!-- Right Sidebar -->

            </div>
            <!-- Row -->
        </div>
        <!-- Container -->
    </body>
</html>
