<!DOCTYPE html>
<!-- Note :
    Any extra divs without content are to make the spans add up to 12 
    Else, the spans in the fluid layout do not align properly on screen resize
-->
<html ng-app="CBLandingPage">
    <head>
        <title>{{name}}</title>
        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/bootstrap-responsive.css" rel="stylesheet">
        <script src="js/jquery.js"></script>
        <script src="js/angular.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="js/lib/app.js"></script>
        <script src="js/lib/model/browser.js"></script>
        <script src="js/lib/model/crud_manager.js"></script>
        <script src="js/lib/model/app_instance.js"></script>
        <script src="js/lib/model/app_instance_manager.js"></script>
        <script src="js/lib/controllers/app.js"></script>
        <script src="js/lib/controllers/app_instance.js"></script>
        <script src="js/lib/controllers/browser.js"></script>
        <script src="js/lib/models.js"></script>
        <script src="js/lib/directives.js"></script>
        <script src="js/lib/filters.js"></script>
        <script src="js/lib/services.js"></script>
        <link rel="stylesheet" href="css/font-awesome.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <!-- Container -->
        <div class="container-fluid" ng-controller="AppCtrl">
            <!-- Row -->
            <div class="row-fluid">
                <!-- Heading -->
                <h1 class="page-header pagination-centered">
                    {{name}}
                </h1>
                <!-- Heading -->
            </div>
            <!-- Row -->

            <!-- Row -->
            <div class="row-fluid">
                <div class="span4"></div>
                <div class="span4" ng-include="templates.header"></div>
                <div class="span4 hidden-phone"></div>
            </div>
            <!-- Row -->

            <!-- Row -->
            <div class="row-fluid" ng-show="appInstances.length && success.message">
                <!-- Success Message -->
                <div class="span3 hidden-phone"></div>
                <div class="span5" ng-include="templates.messages.success"></div>
                <div class="span4 hidden-phone"></div>
                <!-- Success Message -->
            </div>
            <!-- Row -->

            <!-- Row -->
            <div class="row-fluid" ng-show="appInstances.length && error.message">
                <!-- Error Message-->
                <div class="span3 hidden-phone"></div>
                <div class="span5"ng-include="templates.messages.error"></div>
                <div class="span4 hidden-phone"></div>
                <!-- Error Message-->
            </div>
            <!-- Row -->

            <!-- Row -->
            <div class="row-fluid" ng-hide="appInstances.length">
                <!-- Displayed when there are no entities -->
                <div class="span4"></div>
                <div class="span4" ng-include="templates.initial"></div>
                <div class="span4"></div>
                <!-- Displayed when there are no entities -->
            </div>
            <!-- Row -->

            <!-- Row -->
            <div class="row-fluid" ng-show="appInstances.length">
                <!-- Actions on the list of entities -->
                <div class="span1 hidden-phone"></div>
                <div class="span2">
                    <div class="well">
                        <h3>Actions</h3>
                        <div class="row-fluid">
                            <div ng-include="templates.buttons.filter"></div>
                        </div>
                        <div class="row-fluid">
                            <div ng-include="templates.buttons.create"></div>
                        </div>
                    </div>
                </div>
                <!-- Actions on the list of entities -->
                <!-- Main Entity Table -->
                <div class="span8" ng-include="templates.appInstanceTable"></div>
                <div class="span1"></div>
                <!-- Main Entity Table -->
            </div>
            <!-- Row -->
        </div> 
        <!-- Container -->
    </body>
</html>
