#remove {
    color: #b94a48;
    cursor: pointer;
    display:inline-block;
    -webkit-transition: all 0.2s;
}
#remove:hover {
    -webkit-transform: scale(1.4);
}
.margin-bottom {
    margin-bottom : 10px !important;
}
.box{
    border-radius:5px;
    padding:30px;
    margin-bottom:20px;
}
.mounted{
    border: 1px solid #049cdb;
    -webkit-box-shadow: 0px 2px 7px rgba(81, 168, 238, 0.6);
    -moz-box-shadow: 0px 0px 5px rgb(81, 168, 238);
}
.disabled{
    border: 1px solid #ccc;
    -webkit-box-shadow: 0px 2px 10px #ccc;
    -moz-box-shadow: 0px 2px 10px #ccc;
}
.selected{
    background-color:#d9edf7;
}
td, th{
    text-align:center !important;
}
th{
    cursor : pointer;
}
.align-left{
    text-align:left !important;
}

/* On - Off switch styles */
.onoffswitch {
    position: relative; width: 105px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    margin-bottom : 10px;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}

.onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.onoffswitch-mounted .onoffswitch-inner:before {
    content: "Mounted";
}

.onoffswitch-mounted .onoffswitch-inner:after {
    content: "Disabled";
}

.onoffswitch-auth .onoffswitch-inner:before {
    content: "Auth On";
}

.onoffswitch-auth .onoffswitch-inner:after {
    content: "Auth Off";
}

.onoffswitch-privacy .onoffswitch-inner:before {
    content: "Public";
}

.onoffswitch-privacy .onoffswitch-inner:after {
    content: "Private";
}

.onoffswitch-inner:before {
    padding-left: 10px;
    background-color: #2FCCFF; color: #FFFFFF;
    text-align: left;
}

.onoffswitch-inner:after {
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}

.onoffswitch-switch {
    width: 18px; margin: 6px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 20px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
    position: absolute; top: 0; bottom: 0; right: 69px;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}


