<html ng-app="CBAdmin">
    <head>
        <title>CloudBrowser - Administration Interface</title>
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/bootstrap-responsive.css">
        <link rel="stylesheet" href="css/font-awesome.css">
        <link rel="stylesheet" href="css/style.css">
        <script type="text/javascript" src="js/angular.js"></script>
        <script type="text/javascript" src="js/controller.js"></script>
        <script type="text/javascript" src="js/jquery.js"></script>
        <meta charset="UTF-8">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row-fluid" ng-controller="AppCtrl">
                <div class="page-header pagination-centered">
                    <h3>CloudBrowser Administration Interface</h3>
                </div>
                <div class="span7">
                    <input type="text" class="input-small search-query margin-bottom"
                    placeholder="search" ng-model="search" ng-show="apps.length">
                    <div class="pull-right">
                        {{user}} &nbsp;|
                        <a ng-click="logout()">Logout</a>
                    </div>
                    <table ng-show="apps.length" class="table table-bordered" id="data-table">
                        <thead>
                            <th class="align-left"
                            ng-click="sortBy('mountPoint')">
                                MountPoint
                            </th>
                            <th
                            ng-click="sortBy('numUsers')">
                                <i class="icon-group" title="Number of Users"></i>
                            </th>
                            <th
                            ng-click="sortBy('numBrowsers')">
                                <i class="icon-file" title="Number of Instances"></i>
                            </th>
                            <th
                            ng-click="sortBy('isPublic')">
                                <i class="icon-eye-open" title="Privacy"></i>
                            </th>
                            <th
                            ng-click="sortBy('mounted')">
                                <i class="icon-off" title="State"></i>
                            </th>
                            <th
                            ng-click="sortBy('isAuthEnabled')">
                                <i class="icon-lock" title="Authentication"></i>
                            </th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="app in apps|filter:search|orderBy:predicate:reverse"
                            ng-click="selectApp(app)"
                            ng-class="getAppClass(app)">
                                <td class="align-left">{{app.mountPoint}}</td>
                                <td>{{app.numUsers}}</td>
                                <td>{{app.numBrowsers}}</td>
                                <td ng-show='app.isPublic'>Public</td>
                                <td ng-hide='app.isPublic'>Private</td>
                                <td ng-show='app.mounted'>Mounted</td>
                                <td ng-hide='app.mounted'>Disabled</td>
                                <td ng-show='app.isAuthEnabled'>On</td>
                                <td ng-hide='app.isAuthEnabled'>Off</td>
                            </tr> 
                        </tbody>
                    </table>
                    <!-- Use class instead of id-->
                    <div id="file-uploader"></div>
                </div>

                <div ng-show="selectedApp"
                class="span4 pagination-centered box"
                ng-class="getBoxClass(selectedApp)">

                    <legend>
                        {{selectedApp.mountPoint | removeSlash}}
                    </legend>

                    <a ng-click="leftClick(selectedApp.url)" title="Visit the app">
                        {{selectedApp.url}}
                        <i class="icon-external-link"></i>
                    </a>

                    <p class="well">
                        <span ng-hide="selectedApp.editing">
                            {{selectedApp.description}}
                            <a ng-click="editDescription(selectedApp)">
                                Edit
                            </a>
                        </span>
                        <textarea ng-show="selectedApp.editing" type="text"
                        ng-hasfocus="selectedApp.editing" class="span11"
                        ng-model="selectedApp.description"></textarea>
                    </p>

                    <table class="table table-striped">
                        <tr ng-show="selectedApp.users">
                            <td>
                                <strong>
                                    {{selectedApp.numUsers}}
                                </strong> Users
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>
                                    {{selectedApp.numBrowsers}}
                                </strong> Instances</td>
                        </tr>
                        <tr>
                            <td>
                                <strong>
                                    {{selectedApp.instantiationStrategy}}
                                </strong> Instantiation Strategy
                                <span ng-show="selectedApp.browserLimit">
                                    with a browser limit of 
                                    <strong>
                                        {{selectedApp.browserLimit}}
                                    </strong>
                                </span>
                            </td>
                        </tr>
                    </table>

                    <div class="span3 offset4 align-left">
                        <div class="onoffswitch onoffswitch-privacy">
                            <input type="checkbox" id="onoffswitch1"
                            class="onoffswitch-checkbox"
                            ng-model="selectedApp.isPublic">
                            <label class="onoffswitch-label"
                            for="onoffswitch1"
                            ng-click="togglePrivacy(selectedApp)">
                                <div class="onoffswitch-inner"></div>
                                <div class="onoffswitch-switch"></div>
                            </label>
                        </div>
                        <div class="onoffswitch onoffswitch-auth">
                            <input type="checkbox" id="onoffswitch1"
                            class="onoffswitch-checkbox"
                            ng-model="selectedApp.isAuthEnabled">
                            <label class="onoffswitch-label"
                            for="onoffswitch1"
                            ng-click="toggleAuthentication(selectedApp)">
                                <div class="onoffswitch-inner"></div>
                                <div class="onoffswitch-switch"></div>
                            </label>
                        </div>
                        <div class="onoffswitch onoffswitch-mounted">
                            <input type="checkbox" id="onoffswitch1"
                            class="onoffswitch-checkbox"
                            ng-model="selectedApp.mounted">
                            <label class="onoffswitch-label"
                            for="onoffswitch1"
                            ng-click="toggleMountDisable(selectedApp)">
                                <div class="onoffswitch-inner"></div>
                                <div class="onoffswitch-switch"></div>
                            </label>
                        </div>
                    </div>

                </div>
            </div>
        </div> 
    </body>
</html>
